html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #7b2d1a;
  color: #82594b;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #534732;
}

a {
  color: #9f9c95;
}
